.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 80px; /* Mantém para compensar o header */
  padding-bottom: 0; /* Remove o padding inferior */
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.footer {
  background-color: #2A2A2A; /* Escurece o fundo para maior contraste */
  padding: 30px 20px; /* Reduz o padding para um visual mais compacto */
  min-height: 200px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra superior */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-brand {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.footer-section {
  margin-bottom: 30px;
}

.footer-section h3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase; /* Adiciona um toque de estilo */
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
}

.footer-links a:hover {
  color: #FFB800; /* Muda para laranja ao passar o mouse */
}

.divider {
  border-top: 1px solid #e2e8f0;
  margin: 30px 0;
}

.copyright {
  text-align: center;
  color: #A0A0A0;
  font-size: 14px;
  padding-top: 20px;
}

/* Responsividade para o footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px 10px;
  }

  .logo {
    width: 120px;
  }

  .footer-section h3 {
    font-size: 16px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .copyright {
    font-size: 12px;
  }
}